// login form
.login-page {
  .shapeImage {
    .ant-image {
      &:first-child {
        position: absolute;
        top: 0;
        left: 0;
      }
      &:last-child {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .rating {
    svg {
      height: 16px;
    }
  }
  .input-box {
    input {
      line-height: normal;
    }
  }
}
