// add knowledge modal
.modal-main {
  .ant-modal {
    &-content {
      background-color: $primary;
      padding: 19px 35px 35px;
      min-width: 530px;
      border-radius: 12px;
      @media (max-width: 639px) {
        min-width: auto;
        padding: 20px 15px;
      }
    }
    &-header {
      background-color: transparent;
      border: none;
      padding: 0;
    }
    &-title {
      text-align: center;
      font-size: 18px;
      line-height: 32px;
      font-weight: 700;
      color: white;
      @media (max-width: 639px) {
        font-size: 16px;
      }
    }
    &-body {
      padding: 0;
      .ant-upload-btn {
        padding: 0;
        @media (max-width: 639px) {
          padding: 20px;
        }
        .click-here {
          a {
            color: $light-orange;
            text-decoration: underline;
            text-underline-offset: 3px;
          }
        }
      }
      .ant-form-item {
        margin-bottom: 15px;
      }
    }
    &-footer {
      display: none;
    }
    &-close {
      top: 19px;
      right: 18px;
      &-x {
        width: 29px;
        height: 29px;
        display: flex;
        justify-content: center;
        svg {
          color: white;
          font-size: 20px;
        }
      }
    }
  }
}
