// colors

$primary: #161f26;
$secondary: #1e2a33;
$steel-blue: #6f818e;
$cadet-gray: #8796a2;
$white-grey: #e4e7ee;
$dark-black: #0d1419;
$eerie-black: #1e2225;
$gunmetal-dark: #222e37;
$dark-charcoal: #333333;
$quick-silver: #a1a1aa;
$pale-green: #9df587;
$aspara-gus: #6aa75b;
$squid-ink: #263541;
$light-orange: #f17336;
$granite-gray: #596065;
$camel-red: #ea753c;
$bown-sand: #f29061;
